body {
    background: #659dbd;
}

.mainHeader {
    color: #fbeec1;
    font-size: 25px;
}

.sectionHeader {
    color: #fbeec1;
    font-size: 21px;
    padding: 16px;
}

.sectionPrimeHeader {
    color: #fbeec1;
    font-size: 21px;
}




.navigation__link {
    color: #8ee4af;
    font-size: 18px;
    text-decoration: none;
}

footer {
    color:  #c5c6c7;
    padding: 10px 16px;
}





.main {
    width: 100%;
    max-width: 670px;
    margin: 40px auto;
    padding-top: 53px;
}

.box{
    width: 100px;
    height:100px;
    background: yellowgreen;
    padding: 10px;
    border: 10px solid red;
    box-sizing: border-box;
    position: sticky;
    top: 0px;
    
} 



.top {
    position: fixed;
    bottom: 10px;
    right: 10px;
    text-decoration: none;
}

.navigation {
    position: fixed;
    width: 100%;
    top: 0px;
    left:0px;
    box-sizing: border-box;
    padding: 16px; 
    background: #fff;
    
}

.grecja {
    width:100%;
    max-width: 700px;
    display:block;
    float: top;
}

.about__header {
 color:blue;
}

.about__paragraph {
    color: black; 
    padding: 16px 0 0 16px;
    font-size: 20px;
}

.about__paragraph--color {
    color: #048BA8;
}