body {
    background: #E6E6E6;
}

.header {
    color: #8C8B8B;
    font-size: 25px;
}

.header__pages {
    color: #8C8B8B;
    font-size: 20px;
    padding: 0 0 0 16px;
}

.about__header {
    color:#8C8B8B;
    font-size: 20px;
    padding: 0 0 0 16px;
   }

.about__paragraph {
    color: #474645; 
    padding: 5px 0 0 16px;
    font-size: 17px;
}


.img__greek {
    width:100%;
    max-width: 600px;
    display:block;
}

.img__lorem {
    width:100%;
    max-width: 800px;
    display:block;
}

.img__car {
    width:100%;
    max-width: 500px;
    display:block; 
    padding-left: 50px;
}

.navigation {
    position: fixed;
    width: 100%;
    top: 0px;
    left:0px;
    box-sizing: border-box;
    padding: 16px; 
    background: #D2D2D2; 
}

.navigation__link {
    color: #75B9BE;
    font-size: 20px;
    text-decoration: underline;
}

footer {
    color:  #c5c6c7;
    padding: 10px 50px;
    width: 100%;
    max-width: 300px;
    margin: 40px auto;
}

.main {
    width: 100%;
    max-width: 670px;
    margin: 40px auto;
    padding-top: 53px;
}

.top {
    position: fixed;
    bottom: 10px;
    right: 10px;
    text-decoration: none;
    font-size: 30px;
    color: #75B9BE;
}

.navigation__link--font {
    font-size: 18px;
    color: rgb(33, 85, 88);
}








